

// userCenter stylesheet

.home {
    width: 100%;
    height: 100%;
    background-color: #f5f3f0;

    .userBox {
        $userBoxWidth: 6.86rem;
        $userBoxHeight: 2rem;

        $userImgWidth: 1.44rem;
        $userImgHeight: $userImgWidth;

        $captionWidth: 5.19rem;
        $captionHeight: $userBoxHeight;

        width: 100%;
        height: $userBoxHeight;
        padding: 0.3rem;
        background-color: #fff;

        .userImg {
            width: $userImgWidth;
            height: $userImgHeight;
            float: left;

            > img {
                width: 100%;
                height: 100%;
            }
        }

        .caption {
            width: $captionWidth;
            float: right;
            overflow: hidden;

            .title {
                font-size: 0.3275rem;
                color: #444444;
                margin: 0.1rem 0;
            }
            p{
                margin-bottom: 0.05rem;
                color: #999999;
                font-size: 0.2807rem;
            }
        }
    }

    .options {
        // li > a > span color
        @mixin fontColor($color: #00a0e9){
            span.fa {
                color: $color;
            }
        }


        $itemWidth: 49.8%;
        $itemHeight: 1.36rem;
        background-color: #eaeaea;

        width: 100%;
        margin-top: 0.2rem;
        margin-bottom: 1rem;

        >ul {
            width: 100%;
            &:after{
                content: '';
                display: block;
                clear: both;
            }

            >li {
                $aFontSize: 0.28rem;
                $spanFontSize: 0.4rem;

                width: $itemWidth;
                height: $itemHeight;
                margin-top: 0.2%;
                float: left;
                line-height: $itemHeight;
                text-align: center;
                background-color: #fff;
                font-size: $aFontSize;
                color: #030303;

                a {
                    color: inherit;
                    text-decoration: none;

                    span {
                        margin-right: 0.3rem;
                        font-size: $spanFontSize;
                        margin-top: $spanFontSize - $aFontSize;
                    }
                }
            }
            li:nth-child(2n){
                margin-left: 0.4%;
            }
            li:nth-child(1) {
                @include fontColor(#00a0e9);
            }
            li:nth-child(2) {
                @include fontColor(#00a0e9);
            }
            

            li:nth-child(3) {
                @include fontColor(#44b36a);
            }
            li:nth-child(4) {
                span.fa {
                    font-size: 0.5rem;
                }
                @include fontColor(#44b36a);
            }
            

            li:nth-child(5) {
                @include fontColor(#de4e38);
            }

            li:nth-child(6) {
                @include fontColor(#de4e38);
            }

            li:nth-child(7) {
                @include fontColor(#f18c18);
            }

            li:nth-child(8) {
                @include fontColor(#f18c18);
            }
        }

        .logoutBtn {
            width: 100%;
            margin-top: 0.4rem;
            font-size: 0.3rem;
            padding: 0 0.3rem;
        }
    }

    .footerBar {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 1rem;
        background-color: #FFF;

        ul {
            width: 100%;
            padding: 0 5%;
            background-color: #fff;
            &:after {
                content: '';
                display: block;
                clear: both;
            }
            >li {
                width: 20%;
                height: 1rem;
                padding-top: 0.18rem;
                text-align: center;
                float: left;
                color: #8d8d8d;

                :last-child {
                    margin-right: 0;
                }

                a {
                    font-size: 0.16rem;
                    display: block;
                    color: inherit;
                    text-decoration: none;
                }
                span.fa {
                    font-size: 0.3rem;
                }
            }
            li.active{
                color: #ff9206;
            }
        }
    }
}