// bower:scss
// endbower
* {
    margin: 0;
    padding: 0;
    // font-size: 1.56vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
li{
  list-style: none;
}
html {
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}


// common 
@import 'common.scss';

// font-awesome
@import '../libs/font-awesome/scss/font-awesome.scss';

// userCenter stylesheet
@import 'userCenter';

// Login stylesheet
@import 'Login';

// home stylesheet
@import 'home.scss';

// order stylesheet
@import 'order.scss';

// user-info stylesheet
@import 'user-info.scss';

// user-update
// @import 'user-update.scss';




