$primaryColor: #ff9100;
@mixin borderRadius($radius: 4px){
    -webkit-border-radius: $radius;
    border-radius: $radius;
}

// login page 
.login{

    $width: 6.7rem;

    width: 100%;
    height: 100%;
    padding-top: 0.85rem;
    background: url(__TMPL__Buyou/images/login-bg.png) center center no-repeat;
    background-size: cover;

    .logo {
        width: 2.65rem;
        height: 2.88rem;
        margin: 0 auto;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .main {
        $inputHeight: 0.9rem;
        $fontColor: #958b9e;
    
        width: $width;
        margin: 1rem auto 0;

        .form-group:not(:last-child){
            background-color: rgba(0,0,0,0.5);
            @include borderRadius;
        }

        .form-group {
            $imgWidth: 1rem;

            margin-bottom: 2px;
            overflow: hidden;
            &:after {
                content: '';
                display: block;
                clear: both;
            }

            .fontImg {
                display: inline-block;
                width: $imgWidth;
                background-color: rgba(0,0,0,0.8);
                height: $inputHeight;
                opacity: 0.7;
                float: left;
                text-align: center;
                line-height: $inputHeight;
                font-size: 0.37rem;

                span.fa {
                    margin-top: ($inputHeight - 0.37rem) / 2;
                    font-size: 0.37rem;
                    color: $fontColor;
                }
            }

            input.form-control {
                display: inline-block;
                width: $width - $imgWidth;
                height: $inputHeight;
                padding-left: 0.3rem;
                background: none;
                border: none;
                float: left;
                color: $fontColor;

                &:focus {
                    outline: none;
                }
            }


        }

        .loginBtn {
            display: block;
            width: $width;
            height: $inputHeight;
            margin: 0.3rem auto 0;
            background-color: $primaryColor;
            text-align: center;
            line-height: $inputHeight;    
            font-size: 0.32rem;
            color: #fff;
            text-decoration: none;

            @include borderRadius;
        }
        .fogetPassword {
            display: inline-block;
            margin-top: 0.2rem;
            color: #cec8d9;
            text-decoration: none;
            vertical-align: top;
            font-size: 0.28rem;

            span.fa {
                margin-right: 0.28rem;
            }
        }
    }
}